BOT_TOKEN=
BOT_USERNAME=liquid_hub_bot
WEBAPP_URL=https://liquidhub.timurtafratov.workers.dev/
CHANNEL_URL=https://t.me/+kxBClTydKr9hNjc5
MANAGER_URL=https://t.me/liquid_hub_md
NODE_ENV=development
LOG_LEVEL=info
