BOT_TOKEN=8953129354:AAHgakLdGEAO-HN2LCICcrt-8tUQ5lbx_48
BOT_USERNAME=liquid_hub_bot
WEBAPP_URL=https://liquidhub.timurtafratov.workers.dev/
CHANNEL_URL=https://t.me/+kxBClTydKr9hNjc5
MANAGER_URL=https://t.me/defvbg
NODE_ENV=development
LOG_LEVEL=info
